<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/base-layout}" ng-app="app">
<head>
    <title>Angular First Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <nav th:replace="components/nav"></nav>
    <div layout:fragment="primary-section" ng-controller = 'HelloController'>
        <p>{{example.text}} Sparta</p>
        <p th:text="'This is thymeleaf, ' + ${name} + '!'" />
        <!-- <p th:text="'This is Database example, ' + ${expenses.description} + '!'" /> -->
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="js/example.js"></script>
    <!--<script> var myApp = angular.module('app',[]);

    myApp.controller('HelloController', ['$scope', function($scope) {
        $scope.example = {text: 'This is AngularJS'};
    }]);
    </script>   -->

</body>
</html>